#meme1 {
    background-color: #F9CEF4;
}
#meme2 {
    background-color: #F7B6EE;
}
#meme3 {
    background-color: #F49EE9;
}
#meme4 {
    background-color: #F185E4;
}
#meme5 {
    background-color: #FF7EEE;
}
#meme6 {
    background-color: #EC55D9;
}
#meme7 {
    background-color: #EA3DD4;
}