#pop1 {
    background-color: #F9DDCE;
}
#pop2 {
    background-color: #F7CDB6;
}
#pop3 {
    background-color: #F4BC9E;
}
#pop4 {
    background-color: #F1AC85;
}
#pop5 {
    background-color: #EF9B6D;
}
#pop6 {
    background-color: #EC8B55;
}
#pop7 {
    background-color: #EA7A3D;
}
#pop8 {
    background-color: #E76924;
}
#pop9 {
    background-color: #DA5C17;
}
#pop10 {
    background-color: #C15214;
}
