#rock1 {
    background-color: #CEF9F2;
}
#rock2 {
    background-color: #B6F7EC;
}
#rock3 {
    background-color: #9EF4E5;
}
#rock4 {
    background-color: #85F1DF;
}
#rock5 {
    background-color: #6DEFD9;
}
#rock6 {
    background-color: #55ECD2;
}
#rock7 {
    background-color: #3DEACC;
}
#rock8 {
    background-color: #24E7C6;
}
#rock9 {
    background-color: #17DAB8;
}
